@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.container {
  @apply px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[992px] lg:px-10 xl:max-w-[1240px] 2xl:max-w-[1400px];
} 
/* .container {
  margin: auto;
} */
@layer base {
  :root {
    --primary-color: 6, 163, 218;
    --secondary-color: 9, 30, 62;
  }

  .btn-ripple {
    @apply relative z-10 after:-z-10 overflow-hidden after:absolute after:inset-0 after:bg-white/20 after:scale-0 hover:after:scale-100 after:transition-transform  after:duration-300 after:ease-out;
  }

  .indicator {
    @apply relative before:absolute before:w-[150px] before:left-1/2 before:-ml-[75px] before:h-[5px] before:-bottom-3 lg:before:-bottom-6 before:bg-primary before:rounded-full 
    after:absolute after:w-1.5 after:left-1/2 after:bg-white after:h-[5px] after:-ml-[75px] after:-bottom-3 lg:after:-bottom-6 after:[animation:indicator-run_3000ms_linear_infinite_alternate];
  }

  .indicator-left {
    @apply before:left-0 after:left-0 after:ml-0 before:ml-0;
  }

  .indicator-sm {
    @apply relative before:absolute before:w-[90px] before:left-0 before:h-[5px] before:-bottom-3 before:bg-primary before:rounded-full 
    after:absolute after:w-1.5 after:left-0 after:bg-white after:h-[5px] after:-bottom-3 after:[animation:indicator-run-sm_3000ms_linear_infinite_alternate];
  }

  .section-title {
    @apply font-nunito text-slate-800 text-center text-3xl md:text-4xl lg:text-5xl font-black;
  }

  .nav-link {
    @apply h-full flex items-center px-6 lg:px-2 py-2 lg:py-0 font-medium font-nunito text-lg transition-colors hover:text-primary relative
      after:hidden lg:after:block after:absolute after:w-full after:h-0.5 after:bottom-0 after:left-0 after:transition-transform after:duration-300 hover:after:bg-primary after:scale-x-0 hover:after:scale-x-100;
  }

  .viewport {
    @apply translate-y-20 opacity-0 data-[visible]:opacity-100 data-[visible]:translate-y-0 transition-all duration-300 lg:duration-[900ms] ease-out;
  }

  .viewport-scale {
    @apply translate-y-20 data-[visible]:translate-y-0 scale-0 opacity-0 data-[visible]:opacity-100 data-[visible]:scale-100 transition-all duration-300 lg:duration-[900ms] ease-out;
  }

  .viewport-left {
    @apply -translate-x-60 opacity-0 data-[visible]:opacity-100 data-[visible]:translate-x-0 transition-all duration-300 lg:duration-[900ms] ease-out;
  }

  .viewport-right {
    @apply translate-x-60 opacity-0 data-[visible]:opacity-100 data-[visible]:translate-x-0 transition-all duration-300 lg:duration-[900ms] ease-out;
  }
}


.camera_next {
  @apply right-0 md:right-1 top-[55%] md:top-1/2 after:text-xl after:font-bold after:p-2 after:content-["\00BB"] after:text-white  md:after:bg-white md:after:px-4 md:after:py-3 md:after:text-primary md:after:text-2xl;
}

.camera_prev {
  @apply left-0 top-[55%] md:top-1/2 after:text-xl after:font-bold after:p-2 after:content-["\00AB"] after:text-white md:after:bg-white md:after:px-4 md:after:py-3 md:after:text-primary md:after:text-2xl;
}

@keyframes indicator-run {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(145px);
  }
}

@keyframes indicator-run-sm {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(85px);
  }
}